 <!-- Footer -->
 {% load static i18n %}
  <div class="footer_content1">
    <div class="footer_container">
      <div class="block_foot footer_block_delivery">
        <div class="img_deliv_footer">
          <img class="img_delivery_foot_self" src="{% static '/img/delivery-car.png' %}" alt="">
        </div>
        <div class="text_of_delivery">
          <span class="monserat text_delivery_footer">
              <span class="trans_ru">
                    Заказ после <span class="red">15:00 </span> будет доставлен на завтрашний день
              </span>
              <span class="trans_tr">
                    Sagat <span class="red">15:00 </span> soňra edilen sargytlar ertesi guni eltip beriljekdir.
              </span>
              <a href="/delivery/">
                  <span class="trans_ru">подробности...</span>
                  <span class="trans_tr">detallar...</span>
              </a>
          </span>
        </div>
      </div>
      <div class=" block_foot footer_about_us">
        <span class="text_delivery_footer monserat">
            <span class="trans_ru">
                Онлайн магазин<span class="red">Oyden </span>
                предлагает свои услуги гражданам города Туркменабад После оформления заказа с вами свяжется наш диспетчер для уточнения деталей
            </span>
            <span class="trans_tr">
                Elektron sowda nokady <span class="red">"Oyden" </span> Türkmenabat şäheriniň raýatlaryna hödürleýär.
                Sargyt bereninizden soň, dispetçerimiz jikme-jiklikleri anyklamak üçin size ýüz tutar.
            </span>

            <a href="/about/">
                <span class="trans_ru">подробности...</span>
                <span class="trans_tr">detallar...</span>
            </a>
        </span>
      </div>
      <div class=" block_foot footer_news_block">
        <span class="monserat text_delivery_footer">
            <span class="trans_ru">При получении товаров осмотреть товар при курере. Оплата национальной валюте наличными. После отезда курера товар к возврату не подлежит</span>
                <span class="trans_tr">
                    Haryt alnandan soň, kurýerdäki harytlary gözden geçiriň. Kureriň gideninden soň harytlary yzyna gaýtaryp bolmaz
                    Tölegini nagt milli manatda alynar.
                </span>
            <br>
            <a href="/about/">
                <span class="trans_ru">подробности...</span>
                <span class="trans_tr">detallar...</span>
            </a>
        </span>
      </div>
    </div>
    <div class=" fixed-bottom footer_end_fixet">
      <div class="footer_container2">
        <div class="footer_bottom_text">
          <span>
              <span class="trans_ru">Онлайн магазин <span class="red"> Oýden </span> связатся с разработчинами можете по указонномк маилу или по номеру </span>
              <span class="trans_tr">Onlaýn dükanymyz <span class="red"> "Oýden" </span> sahypasyny oňaranlar bilen havarlaşmany isleg bildirseňizler</span>
          </span>
        </div>
        <div class="footer_bottom_email">
          <small>
              <span class="trans_ru">Этот онлайн магазин был сделан:</span>
              <span class="trans_tr">Şu sahypany oňaranlar:</span>
              <i class="red"> arslan092486@gmail.com </i></small><br>
          <small>
              <span class="trans_ru">Свяжитесь с нами по:</span>
              <span class="trans_tr">Biz bilen habarlaşhmak uçin:</span>
              <i class="red"> +99363435866 </i></small>
        </div>
      </div>
    </div>
  </div>
  <!-- endfooter -->