<!-- Logo type div header-->
{% load static %}
<div class="header header_flex">
</div>
<div class="container_logo_oyden">
        <div class="logo_header_oyden_com_container">
                <div class="logo_link_div">
                    <a class="logo_image_oyden_header" href="/" class="logo">
                        <img src="{% static '/img/oyden_logo/black_red.png' %}" alt="">
                    </a>
                </div>
        </div>
            <div class="header_title text-center">
                <span class="trans_ru" style="line-height: 40px;">
                    Доставка по городу Туркменабад <br>
                    <span class="red">OydenCom@gmail.com</span>
                </span>
                <span class="trans_tr text_wrap" style="font-size:40px; line-height: 40px;">
                    Türkmenabat <br>şäher içinde eltip bermek.
                    <br>
                    <span class="red">OydenCom@gmail.com</span>
                </span>

            </div>

    </div>