{% extends 'base.html' %}
{% load static %}

{% block title %}
        <span class="trans_ru">Спасибо</span>
        <span class="trans_tr">Sag bolun</span>
{% endblock %}
{% block content %}
    <h2>
        <span class="trans_ru">Спасибо</span>
        <span class="trans_tr">Sag bolun</span>
    </h2>
    <p>
        <span class="trans_ru">Ваш заказ удачно выполнено. Номер вашего заказа N:</span>
        <span class="trans_tr">Sizin sovdanyz amala ashyryldy. Sowda belginix N:</span>
    <strong>{{ order.id }}</strong>.</p>
{% endblock %}